---
import React from 'react'

import { Example } from '../components/Example'

import '../styles/base.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator}/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <title>astro-boilerplate</title>
  </head>
  <body>
    <Example/>
  </body>
</html>
